.expenseItem {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 1px dashed #f1f1f1;
}

.expenseItem:last-child {
  border-bottom: none;
}

.expenseItem:hover {
  background-color: #f1f1f1;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.title {
  font-size: 1.8rem;
}

.amount {
  font-size: 2.0rem;
}

.metadata {
  font-size: 1.3rem;
}
