* {
  transition: background-color 0.3s;
}

html {
  font-family: Inter;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button, thead {
  font-family: Oswald;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.app-root {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
