.tripItem {
  border-bottom: 1px dashed #e1e1e1;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: #f1f1f1;
  }
}

.cell {
  vertical-align: middle;
  padding: 1rem 1rem 1rem 0;
  &:first-child {
    padding: 1rem;
  }
}

.name {
  font-size: 1.6rem;
  font-weight: 300;
  vertical-align: middle;
}

.users {
  font-size: 1.4rem;
}

.cost {
  font-size: 2rem;
}
